@import 'less/core';


body{
	font-family: @font;
}

.button{
	display: inline-block;
	cursor: pointer;
	padding: 8px 20px;
	background: transparent;
	-webkit-appearance: none;
	line-height: 2em !important;
	border: 1px dotted #3e3c42;
	color: @dark;
}



.btn-bkg:hover{
	background-color: @dark;
	color: @light;
}

a.info{
	background-color: @info;
}

a{
	text-decoration: none;
}

h1{
	color: @light2;
	font-size: 34px;
	padding: 25px 0;
}



h3{
 	margin: 10px 0;
}

p{
	margin: 10px 0 20px 0;
	font-size: 15px;
}

nav{
	padding-top: 15px;
	font-size: 18px;
}
nav a{
	color: white;
	padding-left: 10px;
}

li{
	padding: 10px;
}



section{
	padding: 100px 0 100px 0;
	background-color: #F5FAF8;
}

aside a{
	color: @brand;
}

aside h3{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 25px;
}

footer{
	background-color: @dark;
	min-height: 150px;
	padding: 25px 0;
}

footer small{
	display: block;
	margin: 70px 0 0 0 ;
	color: @light;
}

footer a{
	font-size: 18px;
	color: white;
	padding: 5px 0;
	display: block;
	width: 100%;
}

section .button {
	margin: 35px 0;
}

aside .span_4{
	border-right: 1px dotted #3e3c42;
	padding: 50px 20px 80px 20px;
}

aside .span_4:last-child{
	border-right: none;
}

header .button{
  border: none;
}

header .btn-border{
  border: 1px dotted @light;
}

header h2{
  font-size: 28px;
  margin: 6px 0;
  color: white;
}

header {
  height: 100px;
  padding: 25px;
  background-color: @dark;
}

header a{
  color: white !important;
}

header a:hover{
  color: @success !important;
}